@charset "UTF-8";

#write {
	margin: 0 auto;
	width: 500px;
	height: auto;
}

#write input, #write textarea, #write button {
	border: 0px;
	width: 100%;
	min-height: 30px;
	padding: 5px;
	box-sizing: border-box;
}

#write textarea {
	margin: 10px 0px;
	height: 350px;
}