@charset "UTF-8";

#movieMain {
	position: absolute;
	width: 700px;
	height: 100%;
}

#movieMain > div {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 30px);
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

table#row01 {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 30px);
	border-collapse: collapse;
}

table#row02 {
	position: absolute;
	top: 210px;
	left: 50%;
	transform: translate(-50%, 30px);
	border-collapse: collapse;
}

td.imageTd {
	margin: 0;
	padding: 0 5px;
	width: 100px;
	height: 130px;
	line-height: 0;
	position: relative;
}

td.imageTd > img {
	z-index: 1;
}

td.imageTd > img + div {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px black;
}

td.labelTd {
	margin: 0;
	padding: 0 5px;
	width: 100px;
	height: 20px;
	color: white;
}

td.labelTd > div {
	border: 1px solid black;
	background-color: black;
}

td.labelTd > div > label {
	color: white;
	text-align: left;
	font-size: 11px;
}

td.labelTd > div > label + label {
	color: red;
	text-align: right;
	font-size: 11px;
}