@charset "UTF-8";
#joinIdInstruction:hover:after {
    content: '네글자 이상, 이메일도 사용가능';
    background-color: silver;
}
#joinNameInstruction:hover:after {
    content: '두글자 이상, 특수문자 불가';
    background-color: silver;
}
#joinPwInstruction:hover:after {
    content: '여섯글자 이상';
    background-color: silver;
}
#joinEmailInstruction:hover:after {
    content: '아이디를 이메일로 사용시 향후 변경이 불가하며 아이디에 적은 이메일과 동일하게 적어주세요.';
    background-color: silver;
}
#joinBirthInstruction:hover:after {
    content: '1900-00-00 형식으로 적어주세요.';
    background-color: silver;
}