@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

#container {
	position: relative;
	height: 100%;
	width: 100%;
}

#header {
	position: relative;
    width: 100%;
    height: 35px;
    background-color: #6e6e6e;
}

#menu {
	position: relative;
	float: left;
	height: calc(100% - 35px);
	width: 150px;
	color: white;
	background-color: black;
}

#main {
	position: relative;
	float: right;
	width: calc(100% - 150px);
	height: calc(100% - 35px);
	background-color: #6e6e6e;
}

#mainWrapper {
	position: relative;
	left: 20px;
	width: calc(100% - 20px);
	height: 100%;
	background-color: #2b2b2b;
}