@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body{
	background-color: #0f0f0f;
	color: #faeef0;	
	font-family: 'Nanum Myeongjo', serif;
}
img{
 margin: 0 auto;
 margin-left :19%;
 width: 200px;
 height: 200px;
}
#myPageList{
	float:left;
}
#myPageList > ul {
	list-style:none;
}
#myInfo > ul > li {
	list-style:none;
}

#myInfo{
	margin: 0 auto;
	margin-left :35%;
	width: 70%;
	height: 40%;
}
#myPic{
	margin:0 auto;
	box-sizing:border-box;
	padding:5px;
	width: 200px;
	height: 200px;
	border: 1px solid #faeef0 ;
	border-radius: 100px 100px 100px 100px;
	
	
}
#imageProfil{
	
	width:170px;
	height: 170px;
	margin-left: 7.5px;
	margin-top: 8px;
	position: relative;
	border-radius: 100px 100px 100px 100px;
}
#cameraIcon{
	position: relative;
	z-index:2;
	bottom: 50px;
	left : 130px;
	border : 1px solid white;
	background-color: white;
	width:35px;
	height: 35px;
	border-radius: 100px 100px 100px 100px;
}
#profilPreview{
	position: relative;
	z-index: 1;
}

#imageUpload{
	margin: 0 auto;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	padding-left:6px;
	padding-top:3px;
}
#title{
	float: right;
	margin-top: 70px;
	padding-left: 20px;
	padding-bottom: 70px;
	font-size: 72pt;
	-webkit-transform: rotate(90deg);	
	-ms-transform:roate(90deg);
	transform:rotate(90deg);
	box-sizing:border-box;
}
#profilModi{
	margin-top: 40px;
}